<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="/assets/images/favicon_1.ico">

        <title>Ubold - Responsive Admin Dashboard Template</title>

        <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/core.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/components.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/pages.css" rel="stylesheet" type="text/css" />
        <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css" />

        <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <script src="/assets/js/modernizr.min.js"></script>
    </head>


    <body>

        <!-- Begin page -->
        <div id="wrapper">

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <!--<div class="content-page">-->
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <!-- SECTION FILTER
                        ================================================== -->
                        <div class="row m-t-10 m-b-10">

                            <div class="col-sm-6">
                                <form action="/web/search" method="get" role="form">
                                    <div class="form-group contact-search m-b-0">
                                        <input type="text" id="q" name="q" value="${q}" class="form-control product-search" placeholder="Search here..." onkeydown="fn_autoSearchQuery();">
                                        <button type="submit" class="btn btn-white"><i class="fa fa-search"></i></button>
                                    </div> <!-- form-group -->
                                    <input type="hidden" id="type" name="type" value="${type}" />
                                </form>

                            </div>

                            <div class="col-sm-6">
                                <div class="h5 m-0 text-right">
                                    <!--<div class="btn-group vertical-middle" data-toggle="buttons">-->
                                         <!--<label class="btn btn-default btn-md waves-effect active">-->
                                            <!--<input type="radio" autocomplete="off" checked=""> Status-->
                                         <!--</label>-->
                                         <!--<label class="btn btn-default btn-md waves-effect">-->
                                            <!--<input type="radio" autocomplete="off"> Type-->
                                         <!--</label>-->
                                         <!--<label class="btn btn-default btn-md waves-effect">-->
                                            <!--<input type="radio" autocomplete="off"> Name-->
                                         <!--</label>-->
                                    <!--</div>-->
                                </div>
                            </div>

                        </div>
<!--
                        <div class="col-sm-6 col-lg-3 col-md-4 ">
                            <#if agg??>
                                <#list agg as item>
                                    <li><label><input type="checkbox" name="authorFacet" value="${item.getKeyAsString()}">${item.getKeyAsString()} (${item.getDocCount()})</label></li>
                                </#list>
                            </#if>
                        </div>-->
                        <div class="row">
                            <div class="m-b-15">
                                <#if mapList??>
                                    <#list mapList as list>
                                        <div class="col-sm-6 col-lg-3 col-md-4 mobiles" style="height:800px;">
                                            <div class="product-list-box thumb" style="height:700px;">
                                                <#if list??>
                                                    <h4 class="m-t-0"><a href="" class="text-dark"><strong>title : </strong>${list['title']}</a> </h4>
                                                    <h4 class="m-t-0"> <span class="text-muted"><strong>author : </strong>${list['author']}</span> </h4>
                                                    <h5 class="m-t-0"> <span class="text-muted"><strong>content : </strong>${list['content']}</span></h5>
                                                    <h5 class="m-t-0"> <span class="text-muted"><strong>price : </strong>${list['price']}</span></h5>
                                                    <h5 class="m-t-0"> <span class="text-muted"><strong>스코어 : </strong>${list['score']}</span></h5>
                                                    <h5 class="m-t-0"> <span class="text-muted"><strong>Date : </strong>${list['publishdate']}</span></h5>
                                                    <a href="javascript:void(0);" class="image-popup" title="Screenshot-1">
                                                        <img src="${list['imgsrc']}" class="thumb-img" alt="work-thumbnail"  style="height:400px;">
                                                    </a>
                                                </#if>
                                            </div>
                                        </div>
                                    </#list>
                                </#if>
                            </div>
                        </div> <!-- End row -->
                        <div class="pagination-container text-center">
                            <ul class="pagination">
                                <#if pagingResult.prevPage gt 0 >
                                    <li class="paginate_button previous" ><a href="/web/search?q=${q}&from=${pagingResult.prevPage}&size=${size}&type=${type}" style="color:black"><i class="fa fa-angle-left"></i></a></li>
                                </#if>
                                <#list pagingResult.startPage..pagingResult.endPage as indexI>
                                    <#if indexI == pagingResult.nowPage>
                                        <li class="paginate_button current" ><a style="color: #fff;background-color: #455a64; "href="#" >${indexI}</a></li>
                                        <#else>
                                            <li class="paginate_button" ><a href="/web/search?q=${q}&from=${indexI}&size=${size}&type=${type}" style="color:black">${indexI}</a></li>
                                    </#if>
                                </#list>
                                <#if pagingResult.nextPage gt 0 >
                                    <li class="paginate_button next" ><a href="/web/search?q=${q}&from=${pagingResult.nextPage}&size=${size}&type=${type}" style="color:black" ><i class="fa fa-angle-right"></i></a></li>
                                </#if>
                            </ul>
                        </div>
                    </div> <!-- container -->

                </div> <!-- content -->

                <!--<footer class="footer text-right">-->
                    <!--© 2016. All rights reserved.-->
                <!--</footer>-->

            <!--</div>-->


            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->



        <script>
            var resizefunc = [];
        </script>

        <!-- jQuery  -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
        <script src="/assets/js/detect.js"></script>
        <script src="/assets/js/fastclick.js"></script>
        <script src="/assets/js/jquery.slimscroll.js"></script>
        <script src="/assets/js/jquery.blockUI.js"></script>
        <script src="/assets/js/waves.js"></script>
        <script src="/assets/js/wow.min.js"></script>
        <script src="/assets/js/jquery.nicescroll.js"></script>
        <script src="/assets/js/jquery.scrollTo.min.js"></script>

        <script src="/assets/js/jquery.core.js"></script>
        <script src="/assets/js/jquery.app.js"></script>

        <script src="/user/js/jquery.autocomplete.js"></script>

        <script type="text/javascript">
            function fn_autoSearchQuery(){
                var url = '/web/autoComplete';

                var options = {
                    serviceUrl:url,
                    matchContains: "word",
                    autoFill: true,
                    params:{},
                    onSelect: function(obj){
                        $('#searchWord').val(obj.value);
                    }
                };
                a = $('#q').autocomplete(options);
            }
        </script>

    </body>
</html>