<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>검색 뷰 페이지</title>

    <!-- Global stylesheets -->
    <!--<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">-->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <!-- /global stylesheets -->
    <!-- Page Level CSS Start -->

<!-- Page Level CSS End -->

<!-- Core JS files -->
<script src="/assets/js/url/html5shiv.js"></script>
<script src="/assets/js/url/respond.min.js"></script>
<script src="/assets/js/modernizr.min.js"></script>
<!-- /core JS files -->

<!-- Theme JS files -->
<script>
    var resizefunc = [];
</script>

<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/detect.js"></script>
<script src="/assets/js/fastclick.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>
<script src="/assets/js/jquery.blockUI.js"></script>
<script src="/assets/js/waves.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/jquery.nicescroll.js"></script>
<script src="/assets/js/jquery.scrollTo.min.js"></script>

<script src="/assets/js/jquery.core.js"></script>
<script src="/assets/js/jquery.app.js"></script>

<!-- Chart JS -->
<script src="/assets/plugins/chart.js/chart.min.js"></script>
<script src="/assets/pages/jquery.chartjs.init.js"></script>
<!-- /theme JS files -->

<!-- Page Level Script Start -->

<!-- Page Level Script End -->

</head>

<body class="fixed-left">

<!-- Page container -->
<div class="content-page">
    <!-- Page content -->
    <div class="content">
    <!-- Main content -->
    <div class="container">
        <@layout.block name="content"></@layout.block>
</div>
<!-- /main content -->
</div>
<!-- /page content -->
<#include "common/footer.html"/>
</div>
<!-- /page container -->
</body>
</html>