<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <!-- App Favicon icon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <!-- App Title -->
    <title>이미지 OCR</title>

    <!-- Bootstrap table css -->
    <link href="/assets/plugins/bootstrap-table/css/bootstrap-table.min.css" rel="stylesheet" type="text/css" />

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/responsive.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="/assets/js/modernizr.min.js"></script>

</head>
<body>
<div class="wrapper">
    <div class="container">
        <!--Basic Columns-->
        <!--===================================================-->

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <h4 class="m-t-0 header-title"><b>이미지 OCR</b></h4>

                    <table data-toggle="table"
                           data-show-columns="true"
                           data-page-list="[5, 10, 20]"
                           data-page-size="10"
                           data-pagination="false" data-show-pagination-switch="false" class="table-bordered ">
                        <thead>
                        <tr>
                            <th >이미지</th>
                            <th >키워드</th>
                            <th >스코어</th>
                        </tr>
                        </thead>

                        <tbody>
                        <#if print??>
                            <#list print as list>
                                <#assign size=list.item?size />
                                <tr width="40%" height="60%" >
                                    <td rowspan="${size+1}"><img src="/images/${list.imageUrl}" /></td>
                                </tr>
                                <#list list.item?keys as it>
                                    <tr>
                                        <td>${it}</td>
                                        <td>${list.item[it]}%</td>
                                    </tr>
                                </#list>
                            </#list>
                        </#if>
                        </tbody>
                    </table>
                    <div class="pagination-container text-center">
                        <ul class="pagination">
                            <#if pagingResult.prevPage gt 0 >
                                <li class="paginate_button previous" ><a href="/recommend/ocr?nowPage=${pagingResult.prevPage}" style="color:black"><i class="fa fa-angle-left"></i></a></li>
                            </#if>
                            <#list pagingResult.startPage..pagingResult.endPage as indexI>
                                <#if indexI == pagingResult.nowPage>
                                    <li class="paginate_button current" ><a style="color: #fff;background-color: #455a64; "href="#" >${indexI}</a></li>
                                    <#else>
                                        <li class="paginate_button" ><a href="/recommend/ocr?nowPage=${indexI}" style="color:black">${indexI}</a></li>
                                </#if>
                            </#list>
                            <#if pagingResult.nextPage gt 0 >
                                <li class="paginate_button next" ><a href="/recommend/ocr?nowPage=${pagingResult.nextPage}" style="color:black" ><i class="fa fa-angle-right"></i></a></li>
                            </#if>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- end container -->
</div>
<!-- end wrapper -->



<!-- jQuery  -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/detect.js"></script>
<script src="/assets/js/fastclick.js"></script>
<script src="/assets/js/jquery.slimscroll.js"></script>
<script src="/assets/js/jquery.blockUI.js"></script>
<script src="/assets/js/waves.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/jquery.nicescroll.js"></script>
<script src="/assets/js/jquery.scrollTo.min.js"></script>

<!-- Bootstrap plugin js -->
<script src="/assets/plugins/bootstrap-table/js/bootstrap-table.min.js"></script>
<script src="/assets/pages/jquery.bs-table.js"></script>

<!-- App core js -->
<script src="/assets/js/jquery.core.js"></script>
<script src="/assets/js/jquery.app.js"></script>

</body>
</html>