<@layout.extends name="base.html">
<@layout.put block="content">
<!-- Dashboard content -->
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group pull-right m-t-15">
            <button type="button" class="btn btn-default dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
            <ul class="dropdown-menu drop-menu-right" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>

        <h4 class="page-title">Chartjs</h4>
        <ol class="breadcrumb">
            <li><a href="#">Ubold</a></li>
            <li><a href="#">Charts</a></li>
            <li class="active">Chartjs</li>
        </ol>

    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Line Chart</b></h4>
            <p class="text-muted m-b-15 font-13">A line chart is a way of plotting data points on a line.
                Often, it is used to show trend data, and the comparison of two data sets.
            </p>

            <canvas id="lineChart" height="300"></canvas>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Bar Chart</b></h4>
            <p class="text-muted m-b-15 font-13">A bar chart is a way of showing data as bars.
                It is sometimes used to show trend data, and the comparison of multiple data sets side by side.
            </p>

            <canvas id="bar" height="300"></canvas>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Pie Chart</b></h4>
            <p class="text-muted m-b-15 font-13">Pie and doughnut charts are probably the most commonly used chart there are. They are
                divided into segments, the arc of each segment shows the proportional value of each piece of data.
            </p>

            <canvas id="pie" height="260"></canvas>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Donut Chart</b></h4>
            <p class="text-muted m-b-15 font-13">Pie and doughnut charts are probably the most commonly used chart there are. They are
                divided into segments, the arc of each segment shows the proportional value of each piece of data.
            </p>

            <canvas id="doughnut" height="260"></canvas>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Polar area Chart</b></h4>
            <p class="text-muted m-b-15 font-13">Polar area charts are similar to pie charts, but each segment has the same angle - the radius
                of the segment differs depending on the value.
            </p>

            <canvas id="polarArea" height="300"> </canvas>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Radar Chart</b></h4>
            <p class="text-muted m-b-15 font-13">A radar chart is a way of showing multiple data points and the variation between them.
                They are often useful for comparing the points of two or more different data sets.
            </p>

            <canvas id="radar" height="300"></canvas>
        </div>
    </div>
</div>
<!-- /dashboard content -->


<!-- /form horizontal -->
</@layout.put>
</@layout.extends>